<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Monitoring</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <button id="invokeButton">Send Mail</button>
    <h1>Sensor Monitoring</h1>

    <div>
        <h2>Heart Rate Sensor</h2>
        <canvas id="heartRateChart" width="400" height="200"></canvas>

    </div>

    <div>
        <h2>ECG Monitoring</h2>
        <div id="ecgChart"></div>
    </div>

    <div>
        <h2>Temperature Sensor Graph</h2>
        <canvas id="temperatureChart" width="400" height="200"></canvas>

    </div>




    <script>
        $(document).ready(function() {
            $('#invokeButton').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/invoke_function',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="static/charts.js"></script>
</body>
</html>
